/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  text-align: left;
  background-color: #eee;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Media queries */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
}

#table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 80%;
}

#table th, #table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  text-align: center; /* Ajout de la propriété text-align:center */
}

#table th {
  background-color: #f2f2f2;
}

#table td:first-child {
  font-weight: bold;
}

